# Python
__pycache__/
*.py[cod]
*$py.class
*.so
instance/
.env

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/
frontend/.cache/
build/
dist/

# Binary files
minikube-linux-amd64
*.pack
*.pack.old

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log
